{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav %}

{% block page_title %}{{ _('About {topic} : Topics : Mozilla Betafarm')|f(topic=topic.name) }}{% endblock %}

{% block page_id %}topic_about{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    (url('topics_show', slug=topic.slug), topic.name),
    last=_('About')) }}
{% endblock -%}

{% block content -%}
{{ sectiontitle(topic.name) }}
{{ subnav(MEDIA_URL, topic.image_or_default, (
    (url('topics_show', slug=topic.slug), topic.name, False),
    (url('topics_about', slug=topic.slug), _('About {topic}')|f(topic=topic.name), True)
), (), False) }}

<section id="topicContent" class="w3 clearfix">
  <div class="row clearfix">
    <div class="c3 content serif">
      {# only admins can modify topics, so it's safe to use 'safe' here. #}
      <p class="serif">{{ topic.long_description|safe }}</p>
    </div>
  </div>
</section>

{% endblock -%}
