{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('About {topic} : Topics : Mozilla Betafarm')|f(topic=topic.name) }}{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    (url('topics_all'), _('Topics')),
    (url('topics_show', slug=topic.slug), topic.name),
    last=_('About')) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ topic.name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    <img class="block" src="{{ MEDIA_URL }}{{ topic.image_or_default }}" height="140" width="140">
    <li><a class="brandColor" href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name }}</a></li>
    <li class="selected"><a href="{{ url('topics_about', slug=topic.slug) }}">{{ _('About {topic}')|f(topic=topic.name) }}</a></li>
  </ul>
</section>

<section id="topicContent" class="w5 clearfix">
  <div class="row clearfix">
    <div class="c5">
      <div class="vAlign">
        {# only admins can modify topics, so it's safe to use 'safe' here. #}
        <p class="serif">{{ topic.long_description|safe }}</p>
      </div>
    </div>
  </div>
</section>

{% endblock -%}
