{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ topic.name }} {{ _(': Topics : Mozilla Innovation') }}{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(
     (url('innovate_splash'), _('Innovation Home')),
     (url('topics_all'), _('Topics')),
     last=topic.name) }}
{% endblock %}

{% block content %}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ topic.name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    <img class="block" src="{{ MEDIA_URL }}{{ topic.image_or_default }}" height="140" width="140">
    <li class="selected"><a class="brandColor" href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name }}</a></li>
    <li><a href="{{ url('topics_about', slug=topic.slug) }}">{{ _('About {topic}')|f(topic=topic.name) }}</a></li>
  </ul>
</section>

{% if projects -%}
<section id="projectList" class="w5">
  <div class="wrap clearfix">
    <div class="c1 right">
      <h2 class="light">{{ _('Projects') }}</h2>
    </div>
    <ul>
      {% for project in projects %}
      <li class="project clearfix">
        <div class="c1 vMaster">
          <img class="block" src="{{ MEDIA_URL }}{{ project.image_or_default }}" width="140" height="140">
        </div>
        <div class="c3">
          <div class="vAlign">
            <h3 class="normal"><a class="brandColor" href="{{ url('projects_show', slug=project.slug) }}">{{ project.name }}</a></h3>
            <p class="serif">{{ project.description }}</p>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif -%}
{% endblock %}
