{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav %}

{% block page_title %}{{ topic.name }} {{ _(': Topics : Mozilla Betafarm') }}{% endblock %}

{% block page_id %}topic_details{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     (url('projects_all'), _('Projects')),
     last=topic.name) }}
{% endblock %}

{% block content %}
{{ sectiontitle(topic.name) }}
{{ subnav(MEDIA_URL, topic.image_or_default, (
     (url('topics_show', slug=topic.slug), topic.name, True),
     (url('topics_about', slug=topic.slug), _('About {topic}')|f(topic=topic.name), False)
), (), False) }}

{% if projects -%}
<section id="projectList" class="w5">
  <div class="wrap clearfix">
    <div class="c1">
    </div>
    <ul>
      <li>
        <h2 class="light clearfix"><span class="c4">Projects focused on {{ topic.name }}</span></h2>
      </li>
      {% for project in projects %}
      <li class="project clearfix table_group">
        <div class="c1 cell">
          <a href="{{ url('projects_show', slug=project.slug) }}"><img class="block thick" src="{{ MEDIA_URL }}{{ project.image_or_default }}" width="140" height="140"></a>
        </div>
        <div class="c3 cell">
            <h3 class="normal"><a class="topicColor" href="{{ url('projects_show', slug=project.slug) }}">{{ project.name }}</a></h3>
            <p class="serif">{{ project.description }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif -%}
{% endblock %}
