[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-taggit"]
	path = vendor-local/src/django-taggit
	url = git://github.com/alex/django-taggit.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/django-push"]
	path = vendor-local/src/django-push
	url = git://github.com/brutasse/django-push.git
