settings.py
*.py[co]
*.sw[po]
*.komodoproject
.coverage
_coverage/*
pip-log.txt
docs/_gh-pages
build.py
.DS_Store
*-min.css
*-all.css
*-min.js
*-all.js
*.less.css
vendor
.noseids
tmp/*
*~
locale/*
media/img/uploads/*
media/uploads/*
media/js/libs/jquery.isotope.min.js
