[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-taggit"]
	path = vendor-local/src/django-taggit
	url = git://github.com/alex/django-taggit.git
[submodule "vendor-local/src/django-browserid"]
	path = vendor-local/src/django-browserid
	url = git://github.com/mozilla/django-browserid.git
[submodule "vendor-local/src/django-push"]
	path = vendor-local/src/django-push
	url = git://github.com/brutasse/django-push.git
[submodule "vendor-local/src/django-waffle"]
	path = vendor-local/src/django-waffle
	url = git://github.com/jsocol/django-waffle.git
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp.git
[submodule "vendor-local/src/django-cache-machine"]
	path = vendor-local/src/django-cache-machine
	url = https://github.com/jbalogh/django-cache-machine
