{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import search %}

{% block page_title %}: {{ _('About') }}{% endblock %}

{% block page_id %}about{% endblock %}
{% block section_class %}about{% endblock %}

{% block breadcrumbs %}
  {{ breadcrumbs(last=_('About')) }}
{% endblock %}

{% block content -%}
  <div id="main-content">
    <div class="row">
      <div class="span10">
        <div class="pull-right">{{ search() }}</div>
        <h1>{{ _('About Mozilla Labs') }}</h1>
      </div>
    </div>
    <div class="row">
      <article class="span5">
        {% trans join_url="https://join.mozilla.org" %}
          <p class="about-large">Mozilla&rsquo;s mission is to move the Web forward with the user always front, center and fully in control.</p>

          <p>This requires a wide variety of innovation, exploration and experimentation, both within the browser and beyond. These pages are a showcase of our currently active explorations as they happen.</p>

          <p>Not all of the ideas you see here will make it to fruition&mdash;some of them will quite possibly fail. If you're interested in not just watching the Web evolve but taking an active part in shaping its future, we invite you to join in our open innovation process.</p>

          <p>Find a project that resonates with you and get involved. Or <a href="{{ join_url }}">Join Mozilla</a> and become a supporter of our ongoing efforts.</p>
        {% endtrans %}
      </article>
      <div class="span5">
        <img src="{{ MEDIA_URL }}img/about_labs.png" alt="" width="460" height="533" />
      </div>
    </div>
  </div>
{% endblock -%}
