{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('About : Mozilla Betafarm') }}{% endblock %}

{% block page_id %}about{% endblock %}
{% block section_class %}about{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    last=_('About')) }}
{% endblock -%}

{% block content -%}
<h1 class="light c6">{{ _('About Mozilla Labs') }}</h1>
<section class="w3 clearfix">
  <div class="c3 content">
    <p class="serif large topicColor"><em>Mozilla&rsquo;s</em> mission is to move the Web forward with the user always front, center and fully in control.</p>
    
    <p class="serif">This requires a wide variety of innovation, exploration and experimentation, both within the browser and beyond. These pages are a showcase of our currently active explorations as they happen.</p>
    
    <p class="serif">Not all of the ideas you see here will make it to fruition&mdash;some of them will quite possibly fail. If you're interested in not just watching the Web evolve but taking an active part in shaping its future, we invite you to join in our open innovation process.</p>
    
    <p class="serif">Find a project that resonates with you and get involved. Or <a href="https://join.mozilla.org/">Join <em>Mozilla</em></a> and become a supporter of our ongoing efforts.</p>
  </div>
</section>
{% endblock -%}
