{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('Programs : Mozilla Betafarm') }}{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    last=_('Programs')) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ _('Programs') }}</h1>
  </div>
</section>

<section id="aboutPrograms" class="clearfix w2">
  <div class="content c2">
    <p class="serif large topicColor">
      {% trans %}<em>Programs</em> are initiatives started by Mozilla with the
      aim of engaging the greater community.{% endtrans %}
    </p>
    <p class="serif">{% trans %}Some of these programs may include design 
      challenges, media partnerships, or technical mentorship for big ideas
      we feel help the Web. {% endtrans %}
    </p>
  </div>
</section>

<section id="programs" class="clearfix w4">
  <ul id="programList" class="clearfix">
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="http://webfwd.org/">{{ _('Web FWD') }}</a>
        </h3>
        <p>{{ _('Accelerating Innovation on the Open Web') }}</p>
      </div>
    </li>
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="http://mozillalabs.com/conceptseries/">{{ _('Concept Series') }}</a>
        </h3>
        <p>{{ _('Encouraging engagement and innovation') }}</p>
      </div>
    </li>
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="https://www.drumbeat.org/journalism/">{{ _('Knight-Mozilla News Parternship') }}</a>
        </h3>
        <p>{{ _('Collaborating to invent the future of news.') }}</p>
      </div>
    </li>
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="http://p2pu.org/en/schools/school-of-webcraft/">{{ _('School of Webcraft') }}</a>
        </h3>
        <p>{{ _('Peer-powered learning for developers') }}</p>
      </div>
    </li>
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="https://gaming.mozillalabs.com/">{{ _('Game On') }}</a>
        </h3>
        <p>{{ _('Gaming on the open web') }}</p>
      </div>
    </li>
    <li class="c2">
      <div class="paper">
        <img src="http://placehold.it/260x125/eee/ccc">
        <h3 class="normal topicColor">
          <a href="https://demoparty.mozillalabs.com">{{ _('Demo Party') }}</a>
        </h3>
        <p>{{ _('Demo art for the Web') }}</p>
      </div>
    </li>
  </ul>          
</section>
{% endblock -%}
