{% extends "base.html" %}

{% block page_id %}home{% endblock %}
{% block section_class %}home{% endblock %}

{% block banner %}
{% endblock %}

{% block content %}

<section id="promoted" class="clearfix">
  <div class="c6">
    <a href="{{ url('innovate_about') }}"><img class="block" src="{{ MEDIA_URL }}img/splash.jpg" width=940" height="350"></a>
  </div>
</section>

{% if entry -%}
<section id="headlines" class="clearfix table_group">
  <div class="c2 headlineLabel cell">
        <h2 class="icon rss">{{ _('latest news') }}</h2>
  </div>
  <div class="c4 headline cell">
        <h3 class="serif"><a class="brandColor" href="{{ entry.url }}">{{ entry.title }}</a></h3>
        {% if entry.body -%}
          <p class="serif">&raquo; {{ entry.body|striptags|truncatewords(5) }}</p>
        {% endif -%}
  </div>
</section>
<hr>
{% endif -%}


<div class="dive-in clearfix">
    <section class="projects c2">
        <h2><a href="{{ url('projects_all') }}">{{ _('Projects') }}</a></h2>       
        <p>{% trans %}Check out the areas of focus on the open web that we're thinking about; projects, research, and contests!{% endtrans %}</p>
        {% if featured_project %}
        <article class="paper clearfix">
            <div class="arrow"></div>
            <h3>{{ _('Featured Project') }}</h3>
            <a href="{{ url('projects_show', slug=featured_project.slug) }}">
            <img class="block thick" src="{{ MEDIA_URL }}{{ featured_project.featured_image_or_default }}" width="260" height="125">
            <h4>{{ featured_project.name }}</h4>
            </a>
            <p>{{ featured_project.description|striptags|truncate(43) }}</p>
        </article>
        {% endif %}
    </section>
    <section class="events c2">
        <h2><a href="{{ url('events_all') }}">{{ _('Events') }}</a></h2>
        <p>{% trans %}Find and participate in events happening in your area or engage in one of our online contests.{% endtrans %}</p>
        {% if featured_event %}
        <article class="paper clearfix">
            <div class="arrow"></div>
            <h3>{{ _('Featured Event') }}</h3>
            <a href="{{ url('events_show', slug=featured_event.slug) }}">
            <img class="block thick" src="{{ MEDIA_URL }}{{ featured_event.featured_image_or_default }}" width="260" height="125">
            <h4>{{ featured_event.name }}</h4>
            </a>
            <p>{{ featured_event.description|striptags|truncate(43) }}</p>
        </article>
        {% endif %}
    </section>
    <section class="people c2">
        <h2><a href="{{ url('users_all') }}">{{ _('People') }}</a></h2>
        <p>{% trans %}The open web is made up of awesome people, connect and communicate with some of them here.{% endtrans %}</p>
        {% if featured_user %}
        <article class="paper clearfix">
            <div class="arrow"></div>
            <h3>{{ _('Featured Mozillian') }}</h3>
            <a href="{{ url('users_profile', username=featured_user.user.username) }}">
            <img class="block thick" src="{{ MEDIA_URL }}{{ featured_user.featured_image_or_default }}" width="260" height="125">
            <h4>{{ featured_user.display_name }}</h4>
            </a>
            <p>{{ featured_user.bio|striptags|truncate(45) }}</p>
        </article>
        {% endif %}
    </section>
</div>
{% endblock %}
