{% extends "base.html" %}

{% block content %}

<section id="promoted" class="clearfix">
  <div class="c6">
    <img class="block" src="http://placehold.it/940x350/eee/ccc">
  </div>
</section>

<hr>

<section id="headlines" class="clearfix">
  <div class="c6">
    <strong><img src="{{ MEDIA_URL }}img/rss.png"> {{ _('latest news:') }}</strong>
    <p><a href="#">{{ _('rotating headlines here') }}</a></p>
  </div>
</section>

<hr>

<section id="details" class="clearfix">
  
  <div class="c2">
    <h3 class="normal"><a href="{{ url('topics_all') }}" class="topicColor">{{ _('Topics') }}</a></h3>
    <p>{% trans %}Check out the areas of focus on the open web that we're thinking about; projects, research, and contests!{% endtrans %}</p>
  </div>
  <div class="c2">
    <h3 class="normal"><a href="#" class="eventColor">{{ _('Events') }}</a></h3>
    <p>{% trans %}Find and participate in events happening in your area or engage in one of our online contests.{% endtrans %}</p>
    
  </div>
  <div class="c2">
    <h3 class="normal"><a href="{{ url('users_all') }}" class="peopleColor">{{ _('People') }}</a></h3>
    <p>{% trans %}The open web is made up of awesome people, connect and communicate with some of them here.{% endtrans %}</p>
  </div>

</section>

<section id="featured" class="clearfix">

  {% if featured_project -%}
  <div class="c2 paper">
    
    <div class="arrow"></div>
    <h5>{{ _('Featured Project') }}</h5>
    <img class="block" src="http://placehold.it/260x125/eee/ccc">
    <h3 class="normal"><a class="brandColor" href="{{ url('projects_show', slug=featured_project.slug) }}">{{ featured_project.name }}</a></h3>
    <p>{{ featured_project.description|truncate(43) }}</p>
  </div>
  {% endif -%}

  {% if featured_event %}
  <div class="c2 paper">
    <div class="arrow"></div>
    <h5>{{ _('Featured Event') }}</h5>
    {% if featured_event.featured_image -%}
      <img class="block" src="{{ MEDIA_URL }}{{ featured_event.featured_image }}">
    {% else -%}
      <img class="block" src="http://placehold.it/260x125/eee/ccc">
    {% endif -%}
    <h3 class="normal"><a class="brandColor" href="{{ url('events_show', slug=featured_event.slug) }}">{{ featured_event.name }}</a></h3>
    <p>{{ featured_event.description|truncate(43) }}</p>
  </div>
  {% endif %}

  {% if featured_user -%}
  <div class="c2 paper">
    <div class="arrow"></div>
    <h5>{{ _('Featured Mozillian') }}</h5>
    <img class="block" src="http://placehold.it/260x125/eee/ccc">
    <h3 class="normal"><a class="brandColor" href="{{ url('users_profile', username=featured_user.user.username) }}">{{ featured_user.display_name }}</a></h3>
    <p>{{ featured_user.bio|truncate(45) }}</p>
  </div>
  {% endif -%}

</section>

{% endblock %}
