{% extends "base.html" %}

{% block page_id %}home{% endblock %}
{% block section_class %}home{% endblock %}

{% block content %}

<section id="promoted" class="clearfix">
  <div class="c6">
    <a href="{{ url('innovate_about') }}"><img class="block" src="http://placehold.it/940x350/eee/ccc"></a>
  </div>
</section>

<hr>

<section id="headlines" class="clearfix">
  <div class="c2 headlineLabel">
    <div class="vAlign">
        <strong><img src="{{ MEDIA_URL }}img/rss.png"> {{ _('latest news') }}</strong>
    </div>
  </div>
  <div class="c4 headline vMaster">
        <h2 class="serif"><a class="brandColor" href="#">{{ _('rotating headlines here') }}</a></h2>
        <p class="serif">&raquo; hello</p>
  </div>
</section>

<hr>

<section id="details" class="clearfix">
  
  <div class="c2">
    <h3 class="normal"><a href="{{ url('projects_all') }}" class="topicColor">{{ _('Projects') }}</a></h3>
    <p>{% trans %}Check out the areas of focus on the open web that we're thinking about; projects, research, and contests!{% endtrans %}</p>
  </div>
  <div class="c2">
    <h3 class="normal"><a href="{{ url('events_all') }}" class="eventColor">{{ _('Events') }}</a></h3>
    <p>{% trans %}Find and participate in events happening in your area or engage in one of our online contests.{% endtrans %}</p>
    
  </div>
  <div class="c2">
    <h3 class="normal"><a href="{{ url('users_all') }}" class="peopleColor">{{ _('People') }}</a></h3>
    <p>{% trans %}The open web is made up of awesome people, connect and communicate with some of them here.{% endtrans %}</p>
  </div>

</section>

<section id="featured" class="clearfix">

  {% if featured_project -%}
  <div class="c2 paper">
    
    <div class="arrow"></div>
    <h5>{{ _('Featured Project') }}</h5>
    <a href="{{ url('projects_show', slug=featured_project.slug) }}"><img class="block thick" src="{{ MEDIA_URL }}{{ featured_project.featured_image_or_default }}" width="260" height="125"></a>
    <h3 class="normal"><a class="topicColor" href="{{ url('projects_show', slug=featured_project.slug) }}">{{ featured_project.name }}</a></h3>
    <p>{{ featured_project.description|truncate(43) }}</p>
  </div>
  {% else -%}
  <div class="c2"></div>
  {% endif -%}

  {% if featured_event %}
  <div class="c2 paper">
    <div class="arrow"></div>
    <h5>{{ _('Featured Event') }}</h5>
    <a href="{{ url('events_show', slug=featured_event.slug) }}"><img class="block thick" src="{{ MEDIA_URL }}{{ featured_event.featured_image_or_default }}" width="260" height="125"></a>
    <h3 class="normal"><a class="eventColor" href="{{ url('events_show', slug=featured_event.slug) }}">{{ featured_event.name }}</a></h3>
    <p>{{ featured_event.description|truncate(43) }}</p>
  </div>
  {% else -%}
  <div class="c2"></div>
  {% endif %}

  {% if featured_user -%}
  <div class="c2 paper">
    <div class="arrow"></div>
    <h5>{{ _('Featured Mozillian') }}</h5>
    <a href="{{ url('users_profile', username=featured_user.user.username) }}"><img class="block thick" src="{{ MEDIA_URL }}{{ featured_user.featured_image_or_default }}" width="260" height="125"></a>
    <h3 class="normal"><a class="peopleColor" href="{{ url('users_profile', username=featured_user.user.username) }}">{{ featured_user.display_name }}</a></h3>
    <p>{{ featured_user.bio|truncate(45) }}</p>
  </div>
  {% else -%}
  <div class="c2"></div>
  {% endif -%}

</section>

{% endblock %}
