{% macro activity(activity, show_meta=True) -%}
<li class="update clearfix">
  {% if show_meta -%}
  <div class="meta c1">
    <a class="projectColor" href="{{ activity.entry.project.get_absolute_url() }}">{{ activity.entry.project.name }}</a>
    <time>{{ _('{timesince} ago')|f(timesince=activity.published_on|timesince) }}</time>
  </div>
  {% endif -%}
  <div class="c4">
    {% if show_meta -%}
    <div class="icon"><div class="arrowRight"></div></div>
    {% endif -%}
    <div class="updateWrap paper">
      {% if 'github' in activity.entry.link -%}
        <div class="updateHeader">
          <img src="{{ MEDIA_URL }}img/social-gh.png"> {{ _('via') }} <a class="brandColor" href="{{ activity.entry.link }}">{{ _('Github') }}</a>:
        </div>
        <div class="updateBody blogged">
          <h4 class="normal brandColor">{{ activity.entry.title }}</h4>
          <p class="serif">
            {{ activity.entry.body|striptags }} (<a class="brandColor" href="{{ activity.entry.link }}">{{ _('diff') }}</a>)
          </p>
        </div>
      {% else -%}
        <a class="brandColor updateHeader" href="{{ activity.entry.link }}">{{ activity.entry.title }}</a>
        <div class="updateBody blogged">
          <p class="serif">
            {{ activity.entry.body|truncatewords(50)|striptags }} (<a class="brandColor" href="{{ activity.entry.link }}">{{ _('read more') }}</a>)
          </p>
        </div>
      {% endif -%}
    </div>
  </div>
</li>
{% endmacro -%}
