{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('People : Mozilla Labs') }}{% endblock %}

{% block page_id %}all_users{% endblock %}
{% block section_class %}users{% endblock %}

{% block breadcrumbs %}
{{ breadcrumbs(
    (url('innovate_splash'), _('Mozilla Labs Home')),
    last=_('People')) }}
{% endblock %}

{% block content %}
<h1 class="light c6">{{ _('People') }}</h1>

<section class="sup c1 clearfix">
  <ul>
    {% if page == 'all' -%}
    <li class="selected"><a class="brandColor" href="{{ url('users_all') }}">{{ _('All (A-Z)') }}</a></li>
    {% else -%}
      <li><a href="{{ url('users_all') }}">{{ _('All (A-Z)') }}</a></li>
    {% endif -%}
    {% if page == 'active' -%}
      <li class="selected"><a class="brandColor" href="{{ url('users_active') }}">{{ _('Most Active') }}</a></li>
    {% else -%}
      <li><a href="{{ url('users_active') }}">{{ _('Most Active') }}</a></li>
    {% endif -%}
    {% if page == 'recent' -%}
      <li class="selected"><a class="brandColor" href="{{ url('users_recent') }}">{{ _('Most Recent') }}</a></li>
    {% else -%}
      <li><a href="{{ url('users_recent') }}">{{ _('Most Recent') }}</a></li>
    {% endif -%}
  </ul>
</section>

<section id="people" class="c5">
  <ul id="peopleList" class="clearfix">
{#  todo - implement search  
    <li class="search clearfix">
      <div class="c2"><strong>{{ _('{count} total users')|f(count=paginator.count) }}</strong></div>
      <input class="search c2 sans" type="text" placeholder="search people">
    </li>
#}
    {% for profile in profiles.object_list -%}
    <li class="person clearfix">
      <div>
        <a href="{{ url('users_profile', username=profile.user.username) }}"><img src="{{ MEDIA_URL }}{{ profile.avatar_or_default }}" width="32" height="32"></a>
        <span class="username"><a href="{{ url('users_profile', username=profile.user.username) }}">{{ profile.display_name }}</a></span>
      </div>
      <div class="right">
        {% if profile.website -%}
          <a class="brandColor" target="_blank" href="{{ profile.website }}">{{ profile.website }}</a>
        {% endif -%}
      </div>
    </li>
    {% endfor -%}
  {% if profiles.has_next() -%}
    <li>
    <a href="{{ url('users_all_page', page=profiles.next_page_number()) }}">{{ _('More') }}</a>
  </li>
  {% endif -%}

  </ul>
</section>
{% endblock %}
