{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav %}
{% from "activity/helpers.html" import activity %}

{% block page_title -%}{{ profile.display_name }} : {{ _('Dashboard : Mozilla Betafarm') }}{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     last=profile.display_name) }}
{% endblock -%}

{% block content -%}
{{ sectiontitle(profile.display_name) }}
{{ subnav(MEDIA_URL, profile.avatar_or_default, (
    (url('users_dashboard'), _('Dashboard'), True),
    (url('users_profile', username=profile.user.username), _('View your Profile'), False)
   ), (), False) }}

<section id="activity" class="clearfix">
  <ul class="activityStream">
    {% for obj in activities.object_list -%}
      {{ activity(obj) }}
    {% endfor -%}
  </ul>

  {% if activities.has_next() -%}
  <div class="c1"></div>
  <div class="c4">
    <button class="sans" style="width:100%">load older</button>
  </div>
  {% endif -%}

</section>

{% endblock -%}
