{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/errorlist.html" import errorlist %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Innovation Home')),
    last=_('Edit Profile')) }}
{% endblock -%}

{% block content -%}
<section id="profile_edit" class="clearfix">
  <div class="c4"></div>
  <div class="c4 paper">
    <h2 class="light">{{ _('Your Profile') }}</h2>
    {{ errorlist(form) }}
    <form action="{{ url('users_edit') }}" method="post" enctype="multipart/form-data">
      {{ csrf()|safe }}
      <ul>
        <li>
          <label for="id_avatar">{{ _('Picture') }}</label>
          {{ form.avatar }}
        </li>
        <li>
          <label for="id_name">{{ _('Display Name (how others will see you)') }}</label>
          {{ form.name }}
        </li>
        <li>
          <label for="id_website">{{ _('Website') }}</label>
          {{ form.website }}
        </li>
        <li>
          <label for="id_bio">{{ _('Bio') }}</label>
          {{ form.bio }}
        </li>
      </ul>
      <button class="submit sans">{{ _('save!') }}</button>
    </form>
  </div>
</section>
{% endblock -%}
