{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/errorlist.html" import errorlist %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    last=_('Edit Profile')) }}
{% endblock -%}

{% block content -%}
<section id="profile_edit" class="clearfix">
  <div class="c3 paper">
    <h2 class="light">{{ _('Your Profile') }}</h2>
    {{ errorlist(form) }}
    <form action="{{ url('users_edit') }}" method="post" enctype="multipart/form-data">
      {{ csrf()|safe }}
      <ul>
        <li class="picture">
          <label for="id_avatar">{{ _('Picture') }}</label>
            <div class="avatarWrap clearfix">
              {{ form.avatar }}
            </div>
        </li>
        <li>
          <label for="id_name">{{ _('Display Name (how others will see you)') }}</label>
          {{ form.name }}
        </li>
        <li>
          <label for="id_website">{{ _('Your Website') }}</label>
          {{ form.website }}
        </li>
        <li class="links">
          <label>{{ _('Your Links') }}</label>
          <ul class="yourLinks">
            <li class="clearfix">
                <div class="linkName overflow">Twitter</div>
                <div class="linkUrl overflow"><a class="brandColor" href="#">http://twitter.com/_andychung</a></div>
                <button class="delete sans">delete</button>
            </li>
            <li class="clearfix">
                <div class="linkName overflow">GitHub</div>
                <div class="linkUrl overflow"><a class="brandColor" href="#">http://github.com/andychung</a></div>
                <button class="delete sans">delete</button>
            </li>
          </ul>
          <div class="addLink">
              <input type="text" placeholder="Link title">
              <input type="text" placeholder="Link URL">
              <button class="add sans">Add Link</button>
          </div>
        </li>
        <li>
          <label for="id_bio">{{ _('Bio') }}</label>
          {{ form.bio }}
        </li>
      </ul>
      <button class="submit sans">{{ _('save!') }}</button>
    </form>
  </div>
</section>
{% endblock -%}
