{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav %}

{% block page_title -%}{{ profile.display_name }} : {{ _('Mozilla Betafarm') }}{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     last=profile.display_name) }}
{% endblock -%}

{% if user.is_authenticated() and user.get_profile() == profile -%}
{% set navlinks = (
   (url('users_profile', username=profile.user.username), profile.display_name, True),
   (url('users_edit'), _('Edit Profile'), False)
) %}
{% else -%}
{% set navlinks = (
   (url('users_profile', username=profile.user.username), profile.display_name, True),
) %}
{% endif -%}

{% block content -%}
{{ sectiontitle(profile.display_name) }}
{{ subnav(MEDIA_URL, profile.avatar_or_default, navlinks, (), False) }}

<section id="userProfile" class="w5 clearfix">

  <div class="row clearfix">
    <div class="c3 researchDescription">
      {# TODO - Implement #}
      Recent Activity ...
    </div>

    <aside class="c2 paper researchSidebar">
      <h3 class="light">{{ _('Social') }}</h3>
      <ul>
        {% for link in profile.links.all() -%}
        <li class="{{ link.service }} icon"><a class="brandColor" href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor -%}
      </ul>
      <h3 class="light">{{ _('Projects') }}</h3>
      <ul>
        {% for project in profile.project_set.all() -%}
          <li><a class="brandColor" href="{{ url('projects_show', slug=project.slug) }}">{{ project.name }}</a></li>
        {% endfor -%}
      </ul>
      {% if profile.bio -%}
      <h3 class="light">{{ _('About') }}</h3>
      <p>{{ profile.bio }}</p>
      {% endif -%}
    </aside>
  </div>
</section>

{% endblock -%}
