{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}{{ profile.display_name }} : {{ _('Mozilla Innovation') }}{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Innovation Home')),
     last=profile.display_name) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ profile.display_name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    <img class="block" src="{{ MEDIA_URL }}img/{{ profile.avatar_or_default }}" height="140" width="140">
    <li class="selected"><a class="brandColor" href="{{ url('users_profile', username=profile.user.username) }}">{{ profile.display_name }}</a></li>
    {% if user.is_authenticated() and user.get_profile() == profile -%}
    <li><a class="brandColor" href="{{ url('users_edit') }}">{{ _('Edit Profile') }}</a></li>
    {% endif -%}
  </ul>
</section>

<section id="userProfile" class="w5 clearfix">

  <div class="row clearfix">
    <div class="c3 researchDescription">
      {# TODO - Implement #}
      Recent Activity ...
    </div>

    <aside class="c2 paper researchSidebar">
      <h3 class="light">{{ _('Social') }}</h3>
      <ul>
        {% for link in profile.links.all() -%}
        <li class="{{ link.service }} icon"><a class="brandColor" href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor -%}
      </ul>
      <h3 class="light">{{ _('Projects') }}</h3>
      <ul>
        {% for project in profile.project_set.all() -%}
          <li><a class="brandColor" href="{{ url('projects_show', slug=project.slug) }}">{{ project.name }}</a></li>
        {% endfor -%}
      </ul>
      {% if profile.bio -%}
      <h3 class="light">{{ _('About') }}</h3>
      <p>{{ profile.bio }}</p>
      {% endif -%}
    </aside>
  </div>
</section>

{% endblock -%}
