{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}{{ profile.name }} : {{ _('Mozilla Innovation') }}{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs((url('innovate_splash'), _('Innovation Home')), last=profile.name) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ profile.name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    {% if profile.image -%}
      <img class="block" src="{{ MEDIA_URL }}{{ profile.image }}">
    {% else -%}
      <img class="block" src="http://placehold.it/140x140/eee/ccc">
    {% endif -%}
    <li class="selected"><a class="brandColor" href="{{ url('users_profile', username=profile.user.username) }}">{{ profile.name }}</a></li>
  </ul>
</section>
{% endblock -%}
