{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/errorlist.html" import errorlist %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Innovation Home')),
    last=_('Sign Up')) }}
{% endblock -%}

{% block content -%}
<section id="signup" class="clearfix">
  <div class="c2"></div>
  <div class="c2 paper">
    <h2 class="light">{{ _('Sign Up') }}</h2>
    {{ errorlist(form) }}
    <form method="post" action="{{ url('users.views.signup') }}">
      {{ csrf()|safe }}
      <ul>
        <li>
          <label for="id_username">{{ _('Username - <em>eg: johnsmmith, john.smith</em>') }}</label>
          {{ form.username }}
        </li>
        <li>
          <label for="id_password">{{ _('Password') }}</label>
          {{ form.password }}
        </li>
        <li>
          <label for="id_password_confirm">{{ _('Confirm Password') }}</label>
          {{ form.password_confirm }}
        </li>
        <li>
          <label for="id_email">{{ _('Email Address') }}</label>
          {{ form.email }}
        </li>
      </ul>
      <button class="submit sans">{{ _('sign me up!') }}</button>
    </form>
  </div>
</section>
{% endblock -%}
