{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('Events : Mozilla Betafarm') }}{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    last=_('Events')) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ _('Events') }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    <li class="selected"><a class="brandColor" href="{{ url('events_all') }}">{{ _('Events') }}</a></li>
  </ul>
</section>

<section id="eventsContent" class="w3">
  <ul id="posts" class="clearfix">
    {% for event in events -%}
    <li class="post c3">
      <div class="eventMap">
        <a class="map" href="{{ url('events_show', slug=event.slug) }}">
          <span class="zoom2-hit"></span>
          <img class="zoom0 thick block" src="http://maps.google.com/maps/api/staticmap?zoom=7&size=140x140&maptype=roadmap&sensor=false&markers=color:red|{{ event.venue.full_address }}&center={{ event.venue.full_address }}">
        </a>
      </div>
      <div class="eventListInfo">
        <h3 class="normal"><a class="eventColor" href="{{ url('events_show', slug=event.slug) }}">{{ event.name }}</a></h3>
        <div class="blogHeader">
          <time>{{ event.start.strftime('%B %d, %Y') }}</time>
        </div>
        <div class="content">
          <p class="serif">{{ event.description|safe|truncate(160) }}</p>
        </div>
      </div>
    </li>
    {% endfor -%}
  </ul>
</section>

{% if upcoming -%}
<aside id="eventsSidebar" class="w2 clearfix">
  <div class="c2 paper">
    <h3 class="light">{{ _('Upcoming Events') }}</h3>
    <ul>
      {% for event in upcoming -%}
        <li><strong><time>{{ event.start.strftime('%b %d') }}</time></strong> &mdash; <a class="brandColor" href="{{ url('events_show', slug=event.slug) }}">{{ event.name }}</a></li>
      {% endfor -%}
    </ul>
</aside>
{% endif -%}

{% endblock -%}
