{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('Events : Mozilla Labs') }}{% endblock %}

{% block page_id %}all_events{% endblock %}
{% block section_class %}events{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Mozilla Labs Home')),
    last=_('Events')) }}
{% endblock -%}

{% block content -%}
<h1 class="light c6">{{ _('Events') }}</h1>

<section class="sup c1 clearfix">
  <ul>
    <li class="selected"><a class="brandColor" href="{{ url('events_all') }}">{{ _('Events') }}</a></li>
  </ul>
</section>

<section id="eventsContent" class="c3">
  <ul id="posts" class="clearfix">
    {% for event in events -%}
    <li class="post">
      <div class="eventMap">
        <a class="map" href="{{ url('events_show', slug=event.slug) }}">
          <span class="zoom2-hit"></span>
          <img class="zoom0 thick block" width="140" height="140" src="http://maps.google.com/maps/api/staticmap?zoom=7&amp;size=140x140&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:red|{{ event.venue.full_address }}&center={{ event.venue.full_address }}">
        </a>
      </div>
      <div class="eventListInfo">
        <h3 class="normal"><a class="eventColor" href="{{ url('events_show', slug=event.slug) }}">{{ event.name }}</a></h3>
        <div class="blogHeader">
          <time datetime="{{ event.start.strftime('%Y-%m-%d') }}">{{ event.start.strftime('%B %d, %Y') }}</time>
        </div>
        <div class="content">
          {# editable by admin only. okay to use 'safe' here. #}
          <p class="serif">{{ event.description|truncate(160)|safe }}</p>
        </div>
      </div>
    </li>
    {% endfor -%}
  </ul>
</section>

{% if upcoming -%}
<aside id="eventsSidebar" class="w2 clearfix">
  <div class="c2 paper">
    <h3 class="light">{{ _('Upcoming Events') }}</h3>
    <ul>
      {% for event in upcoming -%}
        <li><strong><time datetime="{{ event.start.strftime('%Y-%m-%d') }}">{{ event.start.strftime('%b %d') }}</time></strong> &mdash; <a class="brandColor" href="{{ url('events_show', slug=event.slug) }}">{{ event.name }}</a></li>
      {% endfor -%}
    </ul>
  </div>
</aside>
{% endif -%}

{% endblock -%}
