{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}
{{ _('{event_name} : Events : Mozilla Labs')|f(event_name=event.name) }}
{% endblock -%}

{% block page_id %}show_event{% endblock %}
{% block section_class %}events{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Mozilla Labs Home')),
    (url('events_all'), _('Events')),
    last=event.name) }}
{% endblock -%}

{% if request.user.is_authenticated() -%}
  {% if request.user.get_profile() in event.attendees.all() -%}
     {% set form_action = url('events_unattend', slug=event.slug) %}
     {% set button_label = _('stop attending') %}
  {% else -%}
     {% set form_action = url('events_attend', slug=event.slug) %}
     {% set button_label = _('RSVP to this event') %}
  {% endif -%}
{% endif -%}

{% block content -%}
<h1 class="light c6">{{ event.name }}</h1>

<section class="c3">
  <div id="eventInfo" class="paper">

    <a class="map" href="http://maps.google.com/maps?q={{ event.venue.full_address }}">
      <span class="zoom2-hit"></span>
      <img class="zoom0" width="420" height="300" src="http://maps.google.com/maps/api/staticmap?zoom=7&size=420x300&maptype=roadmap&sensor=false&markers=color:red|{{ event.venue.full_address }}&center={{ event.venue.full_address }}">
      <img class="zoom1" src="http://maps.google.com/maps/api/staticmap?zoom=11&size=420x300&maptype=roadmap&sensor=false&markers=color:red|{{ event.venue.full_address }}&center={{ event.venue.full_address }}">
      <img class="zoom2" src="http://maps.google.com/maps/api/staticmap?zoom=13&size=420x300&maptype=roadmap&sensor=false&markers=color:red|{{ event.venue.full_address }}&center={{ event.venue.full_address }}">
    </a>
    
    {% if request.user.is_authenticated() -%}
    <form method="post" action="{{ form_action }}">
      {{ csrf()|safe }}
      <button class="submit sans">{{ button_label }}</button>
    </form>
    {% endif -%}
    
    <dl class="event_info">
      <dt>{{ _('Date:') }}</dt>
      <dd>{{ event.start.strftime('%B %d, %Y') }}</dd>
      <dt>{{ _('Time:') }}</dt>
      <dd>{{ event.start.strftime('%H:%M') }} - {{ event.end.strftime('%H:%M') }}</dd>
        {% if event.venue -%}
        <dt>{{ _('Location:') }}</dt>
      <dd>
        <p>{{ event.venue.address }}</p>
        <p>{{ event.venue.city }}, {{ event.venue.state }}</p>
        <p>{{ event.venue.country }} {{ event.venue.zip_code }}</p>
    </dd>
    {% endif -%}
    </dl>
  </div>

</section>

<section class="events_content c3">
    <h2 class="sans">{{ _('About this event') }}</h2>
  <div class="content serif clearfix">
    {# events are only created by admins, so it's safe to use safe here. #}
    <p class="serif">{{ event.description|safe }}</p>
  </div>

{% if event.attendees.all()|length > 0 -%}
  <div class="people clearfix">
    <h2 class="light">{{ _('People attending ({count})')|f(count=event.attendees.all()|length) }}</h2>
    <ul class="db_related clearfix">
      {% for person in event.attendees.all() -%}
        <li>
          <a href="{{ url('users_profile', username=person.user.username) }}">
            <img src="{{ MEDIA_URL }}{{ person.avatar_or_default }}" height="32" width="32">
          </a>
        </li>
      {% endfor -%}
    </ul>
  </div>

{% endif -%}
</section>


{% endblock -%}
