{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}
{{ _('{event_name} : Events : Mozilla Betafarm')|f(event_name=event.name) }}
{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
    (url('innovate_splash'), _('Betafarm Home')),
    (url('events_all'), _('Events')),
    last=event.name) }}
{% endblock -%}

{% if request.user.is_authenticated() -%}
  {% if request.user.get_profile() in event.attendees.all() -%}
     {% set form_action = url('events_unattend', slug=event.slug) %}
     {% set button_label = _('stop attending') %}
  {% else -%}
     {% set form_action = url('events_attend', slug=event.slug) %}
     {% set button_label = _('RSVP to this event') %}
  {% endif -%}
{% endif -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ event.name }}</h1>
  </div>
</section>

<section class="w3">
  <div id="eventInfo" class="c3 paper">
    <form method="post" action="{{ form_action }}">
      {{ csrf()|safe }}
      <button class="submit sans">{{ button_label }}</button>
    </form>
    <img src="http://placehold.it/420x300/eee/ccc">

    <div class="row clearfix">
      <div class="label">{{ _('Date:') }}</div>
      <div class="for">
        {# todo: format date #}
        <span class="line">{{ event.start }}</span>
      </div>
    </div>

    <div class="row clearfix">
      <div class="label">{{ _('Time:') }}</div>
      <div class="for">
        {# todo: format time #}
        <span class="line">{{ event.start }}</span>
      </div>
    </div>

    {% if event.venue -%}
    <div class="row clearfix">
      <div class="label">{{ _('Location:') }}</div>
      <div class="for">
        <span class="line">{{ event.venue.address }}</span>
        <span class="line">{{ event.venue.city }}, {{ event.venue.state }}</span>
        <span class="line">{{ event.venue.country }} {{ event.venue.zip_code }}</span>
      </div>
    </div>
    {% endif -%}
  </div>

</section>

<section id="eventsContent" class="w3">
  <div class="eventHeader">
    <h4 class="sans">{{ _('About this event') }}</h4>
  </div>
  <div class="c3 content serif clearfix">
    <p class="serif">{{ event.description }}</p>
  </div>

{% if event.attendees.all()|length > 0 -%}
  <hr>

  <div class="people clearfix">
    <div class="c3">
      <h2 class="light">{{ _('People attending ({count})')|f(count=event.attendees.all()|length) }}</h2>
    </div>
    <ul class="peopleList clearfix c3">
      {% for person in event.attendees.all() -%}
        <li>
          <a href="{{ url('users_profile', username=person.user.username) }}">
            <img src="{{ MEDIA_URL }}{{ person.avatar_or_default }}" height="32" width="32">
          </a>
        </li>
      {% endfor -%}
    </ul>
  </div>

{% endif -%}
</section>


{% endblock -%}
