
</div><!-- close #wrapper -->

<footer id="colophon">
<div class="row">

    <div class="span3">
        <a href="/" class="footer-logo"><img src="{{ MEDIA_URL }}img/sandstone/footer-mozilla.png" alt="mozilla"></a>
    </div>

    <nav class="span3">
        <ul>
            <li>
              <a href="https://twitter.com/#!/mozlabs">{{ _('Contact Us') }}</a>
            </li>
            <li>
              <a href="https://www.mozilla.org/en-US/privacy-policy.html">
                {{ _('Privacy Policy') }}
              </a>
            </li>
            <li>
              <a href="https://www.mozilla.org/en-US/about/legal.html">
                {{ _('Legal Notices') }}
              </a>
            </li>
            <li>
              <a href="https://www.mozilla.org/en-US/legal/fraud-report/index.html">
                {{ _('Report Trademark Abuse') }}</a>
            </li>
            {% if user.is_authenticated() -%}
              <li>
                <a class="account" href="{{ url('users.views.signout') }}">
                  {{ _('Sign Out') }}</a>
              </li>
            {% else %}
              <li>
                <form method="POST" action="{{ url('browserid_verify') }}" id="browserid_form">
                  {{ csrf() }}
                  <a id="browserid" class="login" href="#">
                    {{ _('Sign In (for project members)') }}
                  </a>
                  {{ browserid_form.as_p() }}
                </form>
              </li>
            {% endif -%}
        </ul>
    </nav>

</div>
</footer>
</div><!-- close #outer-wrapper -->
