{% extends "base.html" %}
{% set title = _('An Error Occurred') %}

{% block content %}
<section id="ohnoes" class="clearfix">
  <div class="c1"></div>
  <div class="c4 paper">
    <h2>{{ _('An Error Occurred &#x2639;') }}</h2>
    <p class="serif">{% trans %}<em>Oh, no!</em> It looks like an unexpected error
    occurrred. We've already notified the site administrators. Please try again now,
    or in a few minutes.{% endtrans %}</p>
    <p class="serif right">{{ _('&mdash;&hearts;, the Error Bot') }}</p>
  </div>
</section>
{% endblock %}
