<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
<head>
    <title>{% block page_title %}Mozilla Betafarm{% endblock %}</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}img/favicon.png" />
    {% block site_css %}
        {{ css('innovate_css') }}
    {% endblock %}
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
</head>
<body id="{% block page_id %}{% endblock %}" class="{% block section_class %}{% endblock %}">
    <div id="grid"></div>
    <div class="wrapper clearfix">
        <header id="universalHeader" class="clearfix">
            <div role="banner" class="c1">
                {% block banner %}
                <a href="{{ url('innovate.views.splash') }}"><img src="{{ MEDIA_URL }}img/logo.png" alt="mozilla betafarm" width="110" height="51" /></a>
                {% endblock %}
            </div>
            <nav id="topNav" class="c5" role="navigation">
            <ul class="clearfix">
                <li class="projects">
                    <a class="topic dropdown{{ active(request, url('projects_all')) }}" href="{{ url('projects_all') }}">{{ _('What We Do') }}</a>
                    <ul class="dropdown">
                        <li><a class="topic" href="{{ url('projects_all') }}">{{ _('Projects') }}</a></li>
                        <li><a class="topic" href="{{ url('projects_programs') }}">{{ _('Programs') }}</a></li>
                    </ul>
                </li>
                <li class="events">
                    <a class="event{{ active(request, url('events_all')) }}" href="{{ url('events_all') }}">{{ _('Events') }}</a>
                </li>
                <li class="users">
                    <a class="users{{ active(request, url('users_all')) }}" href="{{ url('users_all') }}">{{ _('People') }}</a>
                </li>
                <li class="about">
                    <a class="about{{ active(request, url('innovate_about')) }}" href="{{ url('innovate_about') }}">{{ _('About') }}</a>
                </li>
                {% if user.is_authenticated() -%}
                <li class="username">
                    <a class="account dropdown" href="{{ url('users_dashboard') }}">{{ user.get_profile().display_name }}</a>
                    <ul class="dropdown">
                        <li><a class="account" href="{{ url('users_dashboard') }}">{{ _('Dashboard') }}</a></li>
                        <li><a class="account" href="{{ url('users_edit') }}">{{ _('Edit Profile') }}</a></li>
                        <li><a class="account" href="{{ url('users.views.signout') }}">{{ _('Sign Out') }}</a></li>
                    </ul>
                </li>
                {% else -%}
                <li>
                    <form method="POST" action="{{ url('browserid_verify') }}" id="browserid_form" role="form">
                        {{ csrf()|safe }}
                        <input type="hidden" name="assertion" id="id_assertion" />
                        <a id="browserid" class="login" href="#">{{ _('Sign In') }}</a>
                    </form>
                </li>
                {% endif -%}
            </ul>
            </nav>
            <a id="tab" href="http://mozilla.com">mozilla.com</a>
        </header>
        <hr>
        <section role="main">
        {% block breadcrumbs %}{% endblock %}
        {% if messages -%}
            {% for message in messages -%}
            <div class="notification clearfix{% if message.tags %} {{ message.tags }}{% endif %}">
                <div class="c6">
                    {{ message|safe }}
                    <a id="notification_close" class="brandColor" href="">&times; close</a>
                </div>
            </div>
            {% endfor -%}
        {% endif -%}

        {% block content %}{% endblock %}
        </section>
    </div>
    <aside id="site_meta">
        <div class="wrapper clearfix">
            <div class="c6">
                <p><strong>Mozilla Betafarm</strong> embraces the spirit of open innovation and experimentation on the web. Curious? Find out  <a class="brandColor" href="{{ url('innovate_about') }}">more about us &rarr;</a></p>
                <div class="actions">
                    {% if user.is_authenticated() -%}
                        <p>Follow us!</p>
                    {% else -%}
                        <p>Follow us or <a class="brandColor" href="{{ url('browserid_verify') }}">sign up</a> for an account</p>
                    {% endif -%}
                    <ul>
                        <li class="icon twitter"><a href="#">Twitter</a></li>
                        <li class="icon facebook"><a href="#">Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <footer>
        <div class="wrapper clearfix">
            <div class="c2">
                <strong>{{ _('Mozilla Betafarm 2011') }}</strong>
            </div>
            <div class="c1" role="contentinfo">
                <strong>{{ _('Info') }}</strong>
                <ul>
                    <li><a href="http://www.mozilla.org/contact/">{{ _('contact us') }}</a></li>
                    {% if not user.is_authenticated() -%}
                    <li><a href="{{ url('browserid_verify') }}">{{ _('sign up') }}</a></li>
                    {% endif -%}
                    <li><a href="{{ url('innovate_about') }}">{{ _('about us') }}</a></li>
                    <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">{{ _('privacy policy') }}</a></li>
                    <li><a href="http://www.mozilla.com/en-US/about/legal.html">{{ _('legal') }}</a></li>
                </ul>
            </div>
            <div class="c1">
                <strong>{{ _('Topics') }}</strong>
                <ul>
                    <li><a href="{{ url('topics_all') }}">{{ _('all topics') }}</a></li>
                    {% for topic in topics -%}
                    <li><a href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name|lower }}</a></li>
                    {% endfor -%}
                </ul>
            </div>
            <div class="c1">
                <strong>Events</strong>
                <ul>
                    <li><a href="{{ url('events_all') }}">{{ _('events home') }}</a></li>
                    {# TODO - Implement 
                    <li><a href="#">education</a></li>
                    <li><a href="#">calendar</a></li>   #}
                </ul>
            </div>
            <div class="c1">
                <strong>{{ _('People') }}</strong>
                <ul>
                    <li><a href="{{ url('users_all') }}">{{ _('all members') }}</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% block site_js %}
      {{ js('innovate_js') }}
    {% endblock %}
    <script type="text/javascript">
        var uvOptions = {};
        (function() {
            var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
             uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/CMh6pgazkneWI6Atv0sLpg.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
        })();
    </script>
</body>
</html>
