<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>

    <title>{% block page_title %}Mozilla Betafarm{% endblock %}</title>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

    {% block site_css %}
      {{ css('innovate_css') }}
    {% endblock %}
  </head>
  <body>

    <div id="grid"></div>

    <div id="wrapper" class="clearfix">

      <header id="universalHeader" class="clearfix">
        <div id="icon" class="c2">
          <a href="{{ url('innovate.views.splash') }}"><img class="block" src="{{ MEDIA_URL }}img/logo.png" alt="mozilla betafarm"></a>
        </div>
        <nav id="topNav" class="c4">
          <ul class="clearfix">
            <li class="mainItem">
              <a class="topic dropdown{{ active(request, url('topics_all')) }}" href="{{ url('topics_all') }}">{{ _('Topics') }}</a>
              <ul class="dropdown">
                <li><a class="topic" href="{{ url('topics_all') }}">{{ _('all topics') }}</a></li>
                {% for topic in topics -%}
                  <li><a class="topic" href="{{ url('topics_show', slug=topic.slug) }}">&mdash; {{ topic.name }}</a></li>
                {% endfor -%}
              </ul>
            </li>
            <li class="mainItem">
              <a class="event dropdown{{ active(request, url('events_all')) }}" href="{{ url('events_all') }}">{{ _('Events') }}</a>
              <ul class="dropdown">
                <li><a class="event" href="{{ url('events_all') }}">{{ _('events home') }}</a></li>
                {# TODO - Implement
                <li><a class="event" href="">{{ _('&mdash; education') }}</a></li>
                <li><a class="event" href="">{{ _('&mdash; calendar') }}</a></li> #}
              </ul>
            </li>
            <li class="mainItem">
              <a class="people dropdown{{ active(request, url('users_all')) }}" href="{{ url('users_all') }}">{{ _('People') }}</a>
              <ul class="dropdown">
                <li><a class="people" href="{{ url('users_all') }}">{{ _('all members') }}</a></li>
                <li><a class="people" href="{{ url('users_staff') }}">{{ _('staff') }}</a></li>
              </ul>
            </li>
            <li class="mainItem">
              <a class="programs dropdown" href="">{{ _('Programs') }}</a>
              <ul class="dropdown">
                <li><a class="program" href="http://webfwd.org/">{{ _('web fwd') }}</a></li>
                <li><a class="program" href="https://gaming.mozillalabs.com/">{{ _('game on') }}</a></li>
                <li><a class="program" href="http://mozillalabs.com/conceptseries/">{{ _('concept series') }}</a></li>
              </ul>
            </li>
            <li class="mainItem">
              <a class="about" href="{{ url('innovate_about') }}">{{ _('About') }}</a>
            </li>
            {% if user.is_authenticated() -%}
              <li class="mainItem username">
                <a class="account dropdown">{{ user.get_profile().display_name }}</a>
                <ul class="dropdown">
                  <li><a class="account" href="{{ url('users_profile', username=user.username) }}">{{ _('Profile') }}</a></li>
                  <li><a class="account" href="{{ url('users_edit') }}">{{ _('Edit Profile') }}</a></li>
                  <li><a class="account" href="{{ url('users.views.signout') }}">{{ _('Sign Out') }}</a></li>
                </ul>
              </li>
            {% else -%}
              <li class="mainItem"><a class="login" href="{{ url('users.views.signin') }}">{{ _('Sign In') }}</a></li>
            {% endif -%}
          </ul>
        </nav>
      </header>

      <hr>

      {% block breadcrumbs %}{% endblock %}

      {% if messages %}
        <ul class="user-messages">
          {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% block content %}{% endblock %}

    </div>

    <section id="about" class="clearfix">
      <div id="wrapper">
        <div class="c2">
          <p><strong>Mozilla Betafarm</strong> embraces the spirit of open innovation and experimentation on the web. Curious? Find out  <a class="brandColor" href="{{ url('innovate_about') }}">more about us &rarr;</a></p>
        </div>
        <div class="c1"></div>
        <div class="c2 actions">
          {% if user.is_authenticated() -%}
            <p>follow us</p>
          {% else -%}
            <p>follow us or <a class="brandColor" href="{{ url('users.views.signup') }}">sign up</a> for an account</p>
          {% endif -%}
          <ul>
            <li class="icon twitter"><a href="#">twitter</a></li>
            <li class="icon facebook"><a href="#">facebook</a></li>
          </ul>
        </div>
      </div>
    </section>
    
    <footer class="clearfix">
      <div id="wrapper">
        <div class="c2">
          <strong>{{ _('Mozilla Betafarm 2011') }}</strong>
        </div>
        <div class="c1">
          <strong>{{ _('Info') }}</strong>
          <ul>
            <li><a href="http://www.mozilla.org/contact/">{{ _('contact us') }}</a></li>
{% if not user.is_authenticated() -%}
            <li><a href="{{ url('users_signup') }}">{{ _('sign up') }}</a></li>
{% endif -%}
            <li><a href="{{ url('innovate_about') }}">{{ _('about us') }}</a></li>
            <li><a href="http://www.mozilla.org/about/policies/privacy-policy.html">{{ _('privacy policy') }}</a></li>
          </ul>
        </div>
        <div class="c1">
          <strong>{{ _('Topics') }}</strong>
          <ul>
            <li><a href="{{ url('topics_all') }}">{{ _('all topics') }}</a></li>
            {% for topic in topics -%}
              <li><a href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name|lower }}</a></li>
            {% endfor -%}
          </ul>
        </div>
        <div class="c1">
          <strong>Events</strong>
          <ul>
            <li><a href="{{ url('events_all') }}">{{ _('events home') }}</a></li>
            {# TODO - Implement 
              <li><a href="#">education</a></li>
              <li><a href="#">calendar</a></li>   #}
          </ul>
        </div>
        <div class="c1">
          <strong>{{ _('People') }}</strong>
          <ul>
            <li><a href="{{ url('users_all') }}">{{ _('all members') }}</a></li>
            <li><a href="{{ url('users_staff') }}">{{ _('staff') }}</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% block site_js %}
      {{ js('innovate_js') }}
    {% endblock %}
  </body>
</html>

