{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav %}

{% block page_title -%}
  {{ _('Activity : {project} : Projects : Mozilla Betafarm')|f(project=project.name) }}
{% endblock -%}

{% block breadcrumbs -%}
  {{ breadcrumbs(
       (url('innovate_splash'), _('Betafarm Home')),
       (url('projects_all'), _('Projects')),
       (url('projects_show', slug=project.slug), project.name),
       last=_('Activity')) }}
{% endblock -%}

{% set navlinks = ((url('projects_show', slug=project.slug), _('Info'), False),
                   (url('projects_activity', slug=project.slug), _('Activity'), True)) %}

{% if user.get_profile() in project.followers.all() -%}
{% set buttons = ((url('projects_unfollow', slug=project.slug), _('Unfollow'), 'unsubmit'),) %}
{% else -%}
{% set buttons = ((url('projects_follow', slug=project.slug), _('Follow'), 'submit'),) %}
{% endif -%}

{% block content -%}
{{ sectiontitle(_('{project} Activity')|f(project=project.name)) }}
{{ subnav(MEDIA_URL, project.image_or_default, navlinks, project.other_links, True, buttons, csrf()) }}

<section id="projectBlog" class="w5 clearfix">
  {% if posts.object_list -%}
  <ul id="posts">
    {% for post in posts.object_list -%}
      <li class="post c3">
        <h3 class="normal"><a class="brandColor" href="{{ post.link }}">{{ post.title }}</a></h3>
        {% if post.published -%}
        <div class="blogHeader">
          <time>{{ post.published.strftime("%B %e, %Y at %X %p") }}</time>
        </div>
        {% endif -%}
        <div class="content">
          {# 
            project blog posts come in from RSS / Atom feeds.
            The post body is sanitized through bleach. See 
            apps/projects/tasks.py for a whitelist of allowed
            elements and attributes.
          #}
          {{ post.body|truncatewords(100)|safe }}
          <p><a class="brandColor" href="{{ post.link }}">{{ _('Read More &hellip;') }}</a></p>
        </div>
      </li>
    {% endfor -%}
  </ul>
  {% else -%}
    <div class="paper c3">
      <h3>{{ _('Waiting for content &hellip;') }}</h3>
      <p>{{ _('No posts yet! Check back though, I\'m sure we\'ll have something soon!') }}</p>
    </div>
  {% endif -%}
</section>

{% endblock -%}
