{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title %}{{ _('Projects : Mozilla Betafarm') }}{% endblock %}

{% block page_id %}all_projects{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     last=_('Projects')) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ _('Projects') }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    {% if view == 'all' -%}
      <li class="selected"><a class="brandColor" href="{{ url('projects_all') }}">{{ _('All (A-Z)') }}</a></li>
    {% else -%}
      <li><a href="{{ url('projects_all') }}">{{ _('All (A-Z)') }}</a></li>
    {% endif -%}
    {% if view == 'active' %}
      <li class="selected"><a class="brandColor" href="{{ url('projects_active') }}">{{ _('Most Active') }}</a></li>
    {% else -%}
      <li><a href="{{ url('projects_active') }}">{{ _('Most Active') }}</a></li>
    {% endif %}
    {% if view == 'recent' %}
      <li class="selected"><a class="brandColor" href="{{ url('projects_recent') }}">{{ _('Most Recent') }}</a></li>
    {% else -%}
      <li><a href="{{ url('projects_recent') }}">{{ _('Most Recent') }}</a></li>
    {% endif %}
  </ul>

  <h3 class="light c1">{{ _('Topics') }}</h3>
  <ul class="c1">
  {% for topic in topics -%}
    <li><a class="brandColor" href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name }}</a></li>
  {% endfor -%}
  </ul>
</section>

<section id="projects" class="w5">
  <ul id="projectList" class="clearfix">
{# todo - implement search 
    <li class="search clearfix">
      <div class="c2"><strong>{{ _('{count} projects')|f(count=projects|length) }}</strong></div>
      <input class="search c2 sans" type="text" placeholder="search projects">
    </li>
#}
    {% for project in projects -%}
      <li class="project clearfix table_group">
        <div class="c1 cell"><a href="{{ url('projects_show', slug=project.slug) }}"><img class="block thick" src="{{ MEDIA_URL }}{{ project.image_or_default }}" width="140" height="140"></a></div>
        <div class="c3 cell">
            <h3 class="normal"><a class="topicColor" href="{{ url('projects_show', slug=project.slug) }}">{{ project.name }}</a></h3>
            <p class="serif">{{ project.description }}</p>
            <div class="projectTopic">
              focus:
              {% for topic in project.topics.all() -%}
                <a class="topicColor" href="{{ url('topics_show', slug=topic.slug) }}">{{ topic.name }}</a>{% if not loop.last -%}, {% endif -%}
              {% endfor -%}
          </div>
        </div>
      </li>
    {% endfor -%}
  </ul>
</section>

{% endblock %}
