{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}
{% if topic -%}
  {{ _('{project} : {topic} : Mozilla Innovation')|f(project=project.name, topic=topic) }}
{% else -%}
 {{ _('{project} : Mozilla Innovation')|f(project=project.name) }}
{% endif -%}
{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Innovation Home')),
     (url('topics_all'), _('Topics')),
     (url('topics_show', slug=topic), topic),
     last=project.name) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ project.name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    {% if project.image -%}
      <img class="block" src="{{ MEDIA_URL }}{{ project.image }}" height="140" width="140">
    {% else -%}
      <img class="block" src="http://placehold.it/140x140/eee/ccc">
    {% endif -%}
    <li class="selected"><a class="brandColor" href="{{ url('projects_show', slug=project.slug) }}">{{ _('Info') }}</a></li>
  </ul>
</section>

<section id="projectContent" class="w5 clearfix">
  <div class="row clearfix">
    <div class="c3">
      <div class="vAlign">
        <p class="serif">{{ project.long_description }}</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="row people clearfix">
    <div class="c1">
      <h2 class="light">{{ _('Contacts Team') }}</h2>
    </div>
    <ul class="peopleList clearfix">
      {% for person in project.team_members.all() -%}
        <li class="c2">
          {% if person.avatar -%}
            <img src="{{ MEDIA_URL }}{{ person.avatar }}" width="32" height="32">
          {% else -%}
            <img src="http://placehold.it/32x32/eee/ccc">
          {% endif -%}
          <span class="username"><a href="{{ url('users_profile', username=person.user.username) }}">{{ person.display_name }}</a></span></li>
      {% endfor -%}
    </ul>
  </div>
</section>
{% endblock -%}
