{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}
{% from "layout/helpers.html" import sectiontitle, subnav with context %}

{% block page_title -%}
 {{ _('{project} : Projects : Mozilla Betafarm')|f(project=project.name) }}
{% endblock -%}

{% block page_id %}project_detail{% endblock %}
{% block section_class %}projects{% endblock %}

{% block breadcrumbs -%}
{% if project.is_program -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     (url('projects_programs'), _('Programs')),
     last=project.name) }}
{% else -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     (url('projects_all'), _('Projects')),
     last=project.name) }}
{% endif -%}
{% endblock -%}

{% if project.blog -%}
{% set navlinks = ((url('projects_show', slug=project.slug), _('Info'), True), 
                   (url('projects_activity', slug=project.slug), _('Activity'), False)) %}
{% else -%}
{% set navlinks = ((url('projects_show', slug=project.slug), _('Info'), True),) %}
{% endif -%}

{% if  user.is_authenticated() %}
    {% if user.get_profile() in project.followers.all() -%}
    {% set buttons = ((url('projects_unfollow', slug=project.slug), _('Unfollow'), 'unsubmit'),) %}
    {% else -%}
    {% set buttons = ((url('projects_follow', slug=project.slug), _('Follow'), 'submit'),) %}
    {% endif -%}
{% endif %}


{% block content -%}
{{ sectiontitle(project.name) }}
{{ subnav(MEDIA_URL, project.image_or_default, navlinks, project.other_links, True, buttons) }}

<section id="projectContent" class="w3 clearfix">
  <div class="row clearfix">
    <div class="c3 content serif">
      <h2 class="sans light">{{ _('About {project}')|f(project=project.name) }}</h2>
      {# only admins can edit project descriptions, so it's okay to use safe here. #}
      {{ project.long_description|safe }}
    </div>
  </div>

  <hr>

  <div class="people clearfix">
    <div class="c3">
      <h2 class="light">{{ _('{project} Team')|f(project=project.name) }}</h2>
    </div>
    <ul class="peopleList clearfix c3">
      {% for person in project.team_members.all() -%}
        <li>
          <a href="{{ url('users_profile', username=person.user.username) }}">
            <img src="{{ MEDIA_URL }}{{ person.avatar_or_default }}" width="32" height="32">
          </a>
        </li>
      {% endfor -%}
    </ul>
  </div>
</section>
{% endblock -%}
