{% extends "base.html" %}
{% from "layout/breadcrumbs.html" import breadcrumbs %}

{% block page_title -%}
{% if topic -%}
  {{ _('{project} : {topic} : Mozilla Betafarm')|f(project=project.name, topic=topic) }}
{% else -%}
 {{ _('{project} : Mozilla Betafarm')|f(project=project.name) }}
{% endif -%}
{% endblock -%}

{% block breadcrumbs -%}
{{ breadcrumbs(
     (url('innovate_splash'), _('Betafarm Home')),
     (url('topics_all'), _('Topics')),
     (url('topics_show', slug=topic), topic),
     last=project.name) }}
{% endblock -%}

{% block content -%}
<section id="title" class="clearfix">
  <div class="c6">
    <h1 class="light noMargin">{{ project.name }}</h1>
  </div>
</section>

<section id="subNav" class="w1 clearfix">
  <ul class="c1">
    <img class="block" src="{{ MEDIA_URL }}{{ project.image_or_default }}" height="140" width="140">
    <li class="selected"><a class="brandColor" href="{{ url('projects_show', slug=project.slug) }}">{{ _('Info') }}</a></li>
  </ul>
  {% if project.github -%}
    <div class="c1 related">
      <li class="icon github"><a class="brandColor" href="{{ project.github }}">{{ _('{project} on Github')|f(project=project.name) }}</a></li>
    </div>
  {% endif -%}
</section>

<section id="projectContent" class="w5 clearfix">
  <div class="row clearfix">
    <div class="c1"></div>
    <div class="c3 content serif">
      {# only admins can edit project descriptions, so it's okay to use safe here. #}
      {{ project.long_description|safe }}
    </div>
  </div>

  <hr>

  <div class="row people clearfix">
    <div class="c1">
      <h2 class="light">{{ _('{project} Team')|f(project=project.name) }}</h2>
    </div>
    <ul class="peopleList clearfix">
      {% for person in project.team_members.all() -%}
        <li class="c2">
          <img src="{{ MEDIA_URL }}{{ person.avatar_or_default }}" width="32" height="32">
          <span class="username"><a href="{{ url('users_profile', username=person.user.username) }}">{{ person.display_name }}</a></span></li>
      {% endfor -%}
    </ul>
  </div>
</section>
{% endblock -%}
