/*= Grids */
.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1210px;
}
/* columns */
.c1,
.c2,
.c3,
.c4,
.c5,
.c6 {
  min-height: 1px;
  display: inline-block;
  margin: 0 10px;
  float: left;
  position: relative;
}
.c1 {
  width: 140px;
}
.c2 {
  width: 300px;
}
.c3 {
  width: 460px;
}
.c4 {
  width: 620px;
}
.c5 {
  width: 780px;
}
.c6 {
  width: 940px;
}
/* column wraps */
.w1,
.w2,
.w3,
.w4,
.w5,
.w6 {
  display: inline-block;
  float: left;
  padding: 0;
}
.w1 {
  width: 160px;
}
.w2 {
  width: 320px;
}
.w3 {
  width: 480px;
}
.w4 {
  width: 640px;
}
.w5 {
  width: 800px;
}
.w6 {
  width: 960px;
}
/*= Overrides */
aside#site_meta {
    padding: 40px 0;
}
footer {
    padding: 100px 0;
}
footer strong {
    float: none;
    margin-right: 0;
}
footer .c1 {
    clear: none;
}
footer ul {
    padding-left: 0;
    margin: 0;
}
footer li {
    border-left: none;
    float: none;
}
footer li a {
    padding: 0;
}