#eventInfo {
    margin-bottom: 21px;
    
    button.submit {
        float: none;
        margin: 0 0 21px 0;
    }
    
    .row {
        padding: 7px 0;
        margin: 0;
        
        .label {
            width: 60px;
            margin: 0 20px 0 0;
            font-weight: bold;
            float: left;
            display: inline-block;
        }
        .for {
            width: 338px;
            float: left;
            display: inline-block;
            
            span {
                display:block;
            }
        }
    }

    .map {
        display: block;
        position: relative;
        overflow: hidden;
        border: 1px solid #d7d9e8;

        .zoom0, .zoom1, .zoom2 {
            display: block;
            -moz-transform: scale(1);
            -moz-transition: opacity .5s;
            -moz-transform-property: opacity, -moz-transform;
        }

        .zoom1, .zoom2 {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            opacity: 0;
        }

        .zoom2-hit {
            z-index: 2;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 33%;
            height: 33%;
            margin: auto;
        }

        .map:hover .zoom0, .zoom2-hit:hover ~ .zoom1 {
            -moz-transform: scale(2);
        }
    }
    .map:hover .zoom1, .map .zoom2-hit:hover ~ .zoom2 {
        opacity: 1;
    }
}

#eventsContent {
    .eventHeader {
        margin: 7px 10px 14px;
    }
}