{% macro sectiontitle(name) -%}
<h1 class="light c6">{{ name }}</h1>
{%- endmacro %}

{% macro subnav(media_url, image_url, navlinks, otherlinks, follow_buttons, buttons) -%}
<section class="sup w1 clearfix">
  <ul class="c1">
    <img class="block thick" src="{{ media_url }}{{ image_url }}" height="140" width="140">
    {% for link in navlinks -%}
      <li class="{% if link[2] %}selected {% endif %}brandColor"><a href="{{ link[0] }}">{{ link[1] }}</a></li>
    {% endfor -%}
  </ul>
  {% if follow_buttons -%}
  <div class="c1 related">
    {% for button in buttons -%}
      <form action="{{ button[0] }}" method="post">
        {{ csrf() }}
        <button class="sans {{ button[2] }}">{{ button[1] }}</button>
      </form>
    {% endfor -%}
  </div>
  {% endif -%}
  {% if otherlinks -%}
    <div class="c1 related">
      <ul>
      {% for link in otherlinks -%}
        <li><a class="icon brandColor{{ favicon(link.url) }}" href="{{ link.url }}">{{ link.name }}</a></li>
      {% endfor -%}
      </ul>
    </div>
  {% endif -%}
</section>
{%- endmacro %}

{% macro search() -%}
<form action="{{ url('innovate_search') }}" method="get" id="searchform">
  <label for="searchbox">{{ _('Search projects') }}</label>
  <input type="text" id="searchbox" name="q" placeholder="{{ _('Search projects') }}">
  <button type="submit">{{ _('Search') }}</button>
</form>
{%- endmacro %}
