{% macro sectiontitle(name) -%}
<h1 class="light c6">{{ name }}</h1>
{%- endmacro %}

{% macro subnav(image_url, navlinks, otherlinks, follow_buttons, buttons) -%}
<section class="sup c1 clearfix">
    <img class="block thick" src="{{ media_url }}{{ image_url }}" height="140" width="140">
    <ul>
    {% for link in navlinks -%}
        <li class="{% if link[2] %}selected {% endif %}brandColor"><a href="{{ link[0] }}">{{ link[1] }}</a></li>
    {% endfor -%}
    </ul>
    {% if follow_buttons -%}
    <div class="related">
        {% for button in buttons -%}
        <form action="{{ button[0] }}" method="post">
            {{ csrf() }}
            <button class="sans {{ button[2] }}">{{ button[1] }}</button>
        </form>
        {% endfor -%}
    </div>
    {% endif -%}
    {% if otherlinks -%}
    <div class="related">
        <ul>
        {% for link in otherlinks -%}
            <li><a class="icon brandColor{{ favicon(link.url) }}" href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor -%}
        </ul>
    </div>
    {% endif -%}
</section>
{%- endmacro %}
